body {
  font-family: 'Raleway', sans-serif!important;
  background-color: #434345;
  margin: 0;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #191919;
}

::-webkit-scrollbar-thumb:hover {
  background: #01295a; /* schlechter Kontrast */
}

#bild1, #bild2, #bild3, #bild4, #bild5, #bild6 {
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #191919;
  color: white;
  transition: 0.5s;
  box-shadow: 1px 1px 10px #01295a;
}

.footer #copyright {
  text-align: center;
  font-size: 18px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer #pfeil {
  padding: 2px;
  text-align: center;
  width: 70px;
  height: 30px;
  margin: 10px;
  color: white;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #191919;
  transition: 0.5s;
}

.footer #pfeil:hover {
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
}

#info {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 3px 1px black;
}

.socialmedia {
  width: 50px;
  height: auto;
  transition: 0.5s;
  padding: 20px;
  margin-bottom: 20px;
}

.back{
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
  box-shadow: 1px 1px 10px #01295a;
}

.socialmedia:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
  width: 60px;
  filter: grayscale(50%);
}

.Kasten{
  margin-top: 6%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.Kasten1{
  margin-top: 6%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-left: 25%;
}

.zeile{
  margin-top: 1%;
  height: 35px;
  width: 40%;
}

.zeile1{
  margin-top: 1%;
  height: 35px;
  width: 60%;
}

.Ende{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.content {
  background-color: GhostWhite;
  height: auto;
  width: 70%;
  margin: auto;
  text-align: center;
  color: black;
}

.content2{
  background-color: GhostWhite;
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
}

.content3 {
  margin-top: 15%;
  margin-left: 30%;
  background-color: GhostWhite;
  text-align: center;
  width: 40%;
  height: auto;
  padding-bottom: 30px;
}

.content4 {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  background-color: GhostWhite;
  text-align: center;
  width: 60%;
  height: 100%;
  padding-bottom: 30px;
}

#navigation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 10;
  background-color: #191919;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 3px #01295a;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.nav-bar li {
  width: auto;
  padding-right: 60px;
  font-size: 22px;
}

.nav-bar a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.nav-bar a:hover {
  color: #01295a;
  transition: 0.5s;
}

.active {
  color: #01295a!important
}

.active2 {
  color: black!important;
  background-color: GhostWhite!important;
  border:1px solid black!important;
}

.image_logo {
  padding-right: 20%;
  cursor: pointer;
  transition: 0.5s;
}

.image_logo:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.ueberschrift{
  text-align: center;
  margin-top:10%;
  padding-top: 15px;
  margin-bottom:50px;
  color: black;
  font-size: 50px;
  font-weight: 600;
}

.ueberschrift1{
  text-align: center;
  margin-top:5%;
  margin-bottom:50px;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.abstand{
  margin-top: 10%;
}

.style{
  width: auto;
  margin: 0;
}

.abstandunten{
  margin-top: 70px;
  margin-bottom: 5%;
}

.abstand1{
  margin-left: 5%;
  margin-bottom: 5%;
}

.abstandueberschrift{
  margin-left: 5%;
}

.left{
  margin-right: 5%;
  margin-left: 3%;
}

.left1{
  margin-left: 10%;
}

.lefttext{
  margin-left: 15px;
  font-weight: normal;
}

.trainingsplan{
  border: none;
  background-color: white;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  padding-bottom: 5%;
}

.seiten-ueberschrift{
  color: black;
}

.seiten-text{
  color: black;
  margin-bottom: 10%;
  text-align: left;
  margin-left: 25%;
}

.seiten-text-design{
  width: 60%;
}

.space{
  width: 45%;
  padding-left: 10px;
  height: 30px;
  margin-bottom: 5px;
  outline: none;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.modifizieren{
  font-size: 22px;
  /* width: 100%; */
}

.ueberschrift2{
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-weight: 600;
}

#hr_line {
  width: 10%;
  border: 2px solid black;
  height: 0;
  background-color: black;
}

#einstieg {
  font-size: 20px;
  padding: 10px;
  line-height: 2;
}

.button_anmelden p{
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.anmeldung{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  border: none;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s;
}

.weiterbutton{
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  height: auto;
  width: auto;
  border: none;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s;
}

.button_anmelden button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s;
}

.button_anmelden button:hover, .anmeldung:hover, .weiterbutton:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
}

.bereich_coaches {
  margin-top: 70px;
  text-align: center;
}

.coach {
  float: left;
  width: 33.33333%;
  margin-top: 30px;
  padding-top: 30px;
  background-color: #191919;
  transition: 0.4s;
}

.coach:hover {
  transition: 0.4s;
  transform: scale(1.08);
  border-radius: 30px;
  box-shadow: 1px 1px 10px #f3e500;
}

.coach img {
  border-radius: 15px;
}

.textundercoach {
  color: white;
  font-size: 21px;
  font-weight: normal;
  margin: 10px;
  padding: 8px;
  text-shadow: 1px 1px 20px black;
}

.weiterleitung {
  margin-top: 450px;
}

.platz {
  padding: 30px;
}

.anzeige_shops button{
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: none;
  color: white;
  font-size: 35px;
  padding-bottom: 200px;
  padding-top: 200px;
  width: 30%;
  text-shadow: 1px 3px black;
  margin-top: 30px;
  transition: 0.5s;
  filter: grayscale(100%);
}

.anzeige_shops button:hover {
  transition: 0.5s;
  filter: grayscale(0%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1) rotate(-5deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 10%;
}

#meguiars {
  background: url("../Bilder/Home/meguiars.png") no-repeat center;
  background-size: 100%;
}

#BBS {
  background: url("../Bilder/Home/BBS.jpg") no-repeat center;
  background-size: 100%;
}

#KW {
  background: url("../Bilder/Home/KW.jpg") no-repeat center;
  background-size: 100%;
}

#OZ {
  background: url("../Bilder/Home/OZ.jpg") no-repeat center;
  background-size: 100%;
}

#Bastuck {
  background: url("../Bilder/Home/Bastuck.jpg") no-repeat center;
  background-size: 100%;
}

#HR {
  background: url("../Bilder/Home/H&R.jpg") no-repeat center;
  background-size: 100%;
}

#download {
  background: url("../Bilder/Home/download.jpg") no-repeat center;
  background-size: 100%;
}

#LSD {
  background: url("../Bilder/Home/LSD.jpg") no-repeat center;
  background-size: 100%;
}

#OXigin {
  background: url("../Bilder/Home/OXigin.jpg") no-repeat center;
  background-size: 100%;
}

#logo {
  background: url("../Bilder/Home/logo.jpg") no-repeat center;
  background-size: 100%;
}

#rdi {
  background: url("../Bilder/Home/rdi.JPG") no-repeat center;
  background-size: 100%;
}

#ST {
  background: url("../Bilder/Home/ST.jpg") no-repeat center;
  background-size: 100%;
}

#eisenmann {
  background: url("../Bilder/Home/eisenmann_538140413.png") no-repeat center;
  background-size: 100%;
}

#CK {
  background: url("../Bilder/Home/CK Cabrio.JPG") no-repeat center;
  background-size: 100%;
}

#OIP {
  background: url("../Bilder/Home/OIP.jpg") no-repeat center;
  background-size: 100%;
}

#motivation_weiterleitung {
  background: url("../Bilder/Home/motivation1.jpg") no-repeat fixed center;
  cursor: pointer;
  margin-top: 100px;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 130px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
}

#uebungen_weiterleitung {
  background: url("../Bilder/Home/uebungen1.jpeg") no-repeat center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 130px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
}

#Anreise_weiterleitung{
  background: url("../Bilder/Plan/Fitnessplan.jpg") no-repeat fixed center;
  margin-top: 3%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Historie_weiterleitung{
  background: url("../Bilder/Plan/Ernaehrung.webp") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Partner_weiterleitung{
  background: url("../Bilder/Plan/Fitnessplan.jpg") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Philosophie_weiterleitung{
  background: url("../Bilder/Plan/Ernaehrung.webp") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Felgen_weiterleitung{
  background: url("../Bilder/Plan/Ernaehrung.webp") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Reparaturen_weiterleitung{
  background: url("../Bilder/Plan/Fitnessplan.jpg") no-repeat fixed center;
  margin-top: 3%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Tuning_weiterleitung{
  background: url("../Bilder/Plan/Ernaehrung.webp") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}

#Teile_weiterleitung{
  background: url("../Bilder/Plan/Fitnessplan.jpg") no-repeat fixed center;
  margin-top: 1%;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 100px;
  font-family: 'Raleway', sans-serif;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 3px 20px black;
}


#uebungen_weiterleitung:hover, #motivation_weiterleitung:hover, #ernährungsideen_weiterleitung:hover, #fitnessplan_weiterleitung:hover {
  filter: grayscale(100%);
  transition: all .5s;
  font-size: 60px;
  border-radius: 50px;
  transform: rotate(-1deg);
}

.bereich_shops {
  margin-top: 70px;
}

.center{
  text-align: center;
}

.center img{
  margin: 20px;
}

.Kommentarbereich{
  background-color: #E6E6E6;
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  border: 2px solid black;
  box-shadow: 1px 1px 5px black;
}

.Kommentarbox{
  text-align: left;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}

.Profil{
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 3%;
}

.Profil p {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.Name{
  float: left;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.details{
  float: left;
  margin-right: 10px;
}

.textfeld{
  text-align: center;
}

.textstyle{
  width: 70%;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  float: left;
  height: auto;
  border: 1px solid black;
  text-decoration: none;
  margin-left: 10px;
}

.absenden{
  background-color: black;
  height: auto;
  color: white;
  border: none;
  width: 20%;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  float: right;
  margin-right: 10px;
  transition: 0.5s;
}

.absenden:hover, .absenden1:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
  width: 25%;
}

.absenden1{
  font-family: 'Raleway', sans-serif;
  background-color: #191919;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 22%;
  height: 10%;
  font-size: 20px;
  /*box-shadow: 1px 1px 10px #f3e500;*/
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

/*Slidshow/*

* {box-sizing:border-box}*/

.slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.slideshow-container_home {
  max-width: 100%;
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

a{
  text-decoration: none;
  color: #f2f2f2;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
  border-radius: 0 20px 20px 0;
}

.next:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
  border-radius: 20px 0 0 20px;
}

.text {
  color: white;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 5px black;
}

.text button {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
}

.text button:hover{
  font-size: 28px;
  transition: 0.5s;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#caption {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: normal;
  text-shadow: 2px 1px black;
}

#aufklappen_info {
  font-style: italic;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.uebungsbereich {
  cursor: pointer;
  border: 1px solid black;
  height: auto;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.uebungsbereich:hover .uebung_ausgeklappt {
  display: block;
  animation: fade-in 1s;
}

.uebungsbereich:not(:hover) .uebung_ausgeklappt.did-fade-in {
  display: block;
  animation: fade-out 1.5s;
}
.uebung_ausgeklappt {
  display: none;
}

.uebung_ausgeklappt p {
  text-align: left;
  padding: 10px;
  margin: 10px;
}

.uebung_ausgeklappt img {
  width: 50%;
  height: auto;
  text-align: center;
  transition: 0.5s;
}

.uebung_ausgeklappt img:hover {
  width: 80%;
  transition: 1.5s;
}

#uebung_titel1, #uebung_titel2, #uebung_titel3, #uebung_titel4, #uebung_titel5, #uebung_titel6, #uebung_titel7, #uebung_titel8, #uebung_titel9, #uebung_titel10, #uebung_titel11, #uebung_titel12, #uebung_titel13, #uebung_titel14, #uebung_titel15, #uebung_titel16, #uebung_titel17, #uebung_titel18, #uebung_titel19, #uebung_titel20, #uebung_titel21, #uebung_titel22, #uebung_titel23, #uebung_titel24, #uebung_titel25, #uebung_titel26, #uebung_titel27, #uebung_titel28, #uebung_titel29, #uebung_titel30, #uebung_titel31 {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}

.easteregg {
  margin-top: 10%;
  padding-top: 5%;
}

.dropbtn {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_uebung {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.dropdown_uebung:hover .dropdown-content {
  display: block;
}

.dropdown_uebung:hover .dropbtn {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}

#koerperbereich, #koerperbereich2, #koerperbereich3, #koerperbereich4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: 1px solid black;
  padding: 5px;
  transition: 0.5s;
}

#koerperbereich:focus, #koerperbereich2:focus, #koerperbereich3:focus, #koerperbereich4:focus {
  outline: none;
  border: none;
  padding: 10px;
  transition: 1s;
}

#speicherung, #laden {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  transition: 0.5s;
  outline: none;
}

#speicherung:active, #laden:active {

  color: Lime!important;
  font-size: 20px;
  border: none!important;
}

#speicherung:hover, #laden:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
  border: 1px solid black;
}

#speicherbutton {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* Responsive */

@media only screen and (min-width: 1000px) {
  #figure {
    z-index: 0;
    position: relative;
    border: 3px solid black;
    margin: 30px;
    border-radius: 50px;
    background: none;
  }

  #background {
    width: 100%;
  }

  #muscle-map img {
    vertical-align: middle;
    border: 0;
  }

  #muscle-map>img:not(#background) {
    display: block;
    position: absolute;
    transition: 0.2s;
  }

  #muscle-map>#traps-a {
    top: 17.4%;
    left: 26.7%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#traps-b {
    top: 17.4%;
    left: 31.48%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-a {
      top: 21.1%;
      left: 21.84%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-b {
      top: 21.1%;
      left: 34.1%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#pecs {
      top: 22%;
      left: 24.3%;
      width: 13%;
      opacity: 0;
  }

  #muscle-map>#pecs:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-a {
      top: 26.9%;
      left: 20.89%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-b {
      top: 26.9%;
      left: 36.67%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-a {
      top: 33.6%;
      left: 16.75%;
      width: 6.62%;
      opacity: 0;
  }

  #muscle-map>#forearm-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-b {
      top: 33.6%;
      left: 38.18%;
      width: 6.61%;
      opacity: 0;
  }

  #muscle-map>#forearm-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#obliques {
      top: 28.67%;
      left: 27.44%;
      width: 6.42%;
      opacity: 0;
  }

  #muscle-map>#obliques:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-a {
      top: 42.2%;
      left: 23.6%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-b {
      top: 42.2%;
      left: 31.4%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-a {
      top: 64.59%;
      left: 23.19%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-b {
      top: 64.49%;
      left: 33.74%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-a {
      top: 15.38%;
      left: 67.3%;
      width: 7%;
      opacity: 0;
  }

  #muscle-map>#back-traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-b {
      top: 17.82%;
      left: 66.87%;
      width: 8.1%;
      opacity: 0;
  }

  #muscle-map>#back-traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-a {
      top: 19.29%;
      left: 61.5%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-b {
      top: 19.29%;
      left: 74.6%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-a {
      top: 24.83%;
      left: 60.2%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-b {
      top: 24.83%;
      left: 77.1%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-a {
      top: 26.66%;
      left: 64.7%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-b {
      top: 26.66%;
      left: 71.2%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lower {
      top: 32.86%;
      left: 67.62%;
      width: 6.59%;
      opacity: 0;
  }

  #muscle-map>#back-lower:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-a {
      top: 33.5%;
      left: 56.1%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-b {
      top: 33.5%;
      left: 79.34%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-glutes {
      top: 41%;
      left: 64.89%;
      width: 12.08%;
      opacity: 0;
  }

  #muscle-map>#back-glutes:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-a {
      top: 47.49%;
      left: 63.75%;
      width: 6.67%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-b {
      top: 47.49%;
      left: 71.47%;
      width: 6.7%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-a {
      top: 64.43%;
      left: 61.94%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-b {
      top: 64.43%;
      left: 75.1%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  .image_logo2 {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  #background {
    width: 100%;
  }

  #figure {
    z-index: 0;
    position: relative;
  }

  #muscle-map {
    position: relative;
  }

  #muscle-map img {
    vertical-align: middle;
    border: 0;
  }

  #muscle-map>img:not(#background) {
    display: block;
    position: absolute;
    transition: 0.2s;
  }

  #muscle-map>#traps-a {
    top: 17.4%;
    left: 26.7%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#traps-b {
    top: 17.4%;
    left: 31.48%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-a {
      top: 21.1%;
      left: 21.84%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-b {
      top: 21.1%;
      left: 34.1%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#pecs {
      top: 22%;
      left: 24.3%;
      width: 13%;
      opacity: 0;
  }

  #muscle-map>#pecs:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-a {
      top: 26.9%;
      left: 20.89%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-b {
      top: 26.9%;
      left: 36.67%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-a {
      top: 33.6%;
      left: 16.75%;
      width: 6.62%;
      opacity: 0;
  }

  #muscle-map>#forearm-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-b {
      top: 33.6%;
      left: 38.18%;
      width: 6.61%;
      opacity: 0;
  }

  #muscle-map>#forearm-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#obliques {
      top: 28.67%;
      left: 27.44%;
      width: 6.42%;
      opacity: 0;
  }

  #muscle-map>#obliques:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-a {
      top: 42.2%;
      left: 23.6%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-b {
      top: 42.2%;
      left: 31.4%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-a {
      top: 64.59%;
      left: 23.19%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-b {
      top: 64.49%;
      left: 33.74%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-a {
      top: 15.38%;
      left: 67.3%;
      width: 7%;
      opacity: 0;
  }

  #muscle-map>#back-traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-b {
      top: 17.82%;
      left: 66.87%;
      width: 8.1%;
      opacity: 0;
  }

  #muscle-map>#back-traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-a {
      top: 19.29%;
      left: 61.5%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-b {
      top: 19.29%;
      left: 74.6%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-a {
      top: 24.83%;
      left: 60.2%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-b {
      top: 24.83%;
      left: 77.1%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-a {
      top: 26.66%;
      left: 64.7%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-b {
      top: 26.66%;
      left: 71.2%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lower {
      top: 32.86%;
      left: 67.62%;
      width: 6.59%;
      opacity: 0;
  }

  #muscle-map>#back-lower:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-a {
      top: 33.5%;
      left: 56.1%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-b {
      top: 33.5%;
      left: 79.34%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-glutes {
      top: 41%;
      left: 64.89%;
      width: 12.08%;
      opacity: 0;
  }

  #muscle-map>#back-glutes:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-a {
      top: 47.49%;
      left: 63.75%;
      width: 6.67%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-b {
      top: 47.49%;
      left: 71.47%;
      width: 6.7%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-a {
      top: 64.43%;
      left: 61.94%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-b {
      top: 64.43%;
      left: 75.1%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  .easteregg {
    margin-top: 15%;
    padding-top: 5%;
  }

  .image_logo {
    display: none;
  }

  .image_logo2 {
    width: 20%;
    display: block;
    margin: auto;
  }

  .nav-bar {
    display: flex;
  }

  #uul {
    padding: 0;
  }

  .nav-bar li {
    padding: 20px;
  }

  .nav-bar img {
    display: none;
  }

  #info {
    font-size: 14px;
  }

  #copyright {
    font-size: 10px!important;
  }

  .socialmedia {
    width: 50px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ueberschrift {
    font-size: 23px;
    margin-top: 20%;
  }

  .ueberschrift2 {
    font-size: 23px;
    margin-top: 18%;
  }

  .content {
    width: 100%;
  }

  .content2 {
    width: 100%;
    margin-top: 13%;
  }

  .text {
    font-size: 30px;
  }

  .text button {
    font-size: 15px;
  }

  #caption {
    font-size: 13px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slideshow-container_home {
    margin-top: 18%;
  }

  #fitnessplan_weiterleitung {
    font-size: 30px;
    padding: 100px;
    padding-left: 10px;
  }

  #ernährungsideen_weiterleitung {
    font-size: 30px;
    padding: 100px;
    padding-left: 10px;
  }

  .content4 {
    margin-top: 9%;
    width: 100%;
  }

  #fitnessplan_weiterleitung:hover, #ernährungsideen_weiterleitung:hover {
    font-size: 35px;
  }

  .bereich_coaches {
    margin-top: 70px;
    text-align: center;
  }

  .coach {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #background {
    width: 100%;
  }

  #figure {
    z-index: 0;
    position: relative;
  }

  #muscle-map {
    position: relative;
  }

  #muscle-map img {
    vertical-align: middle;
    border: 0;
  }

  #muscle-map>img:not(#background) {
    display: block;
    position: absolute;
    transition: 0.2s;
  }

  #muscle-map>#traps-a {
    top: 17.4%;
    left: 26.7%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#traps-b {
    top: 17.4%;
    left: 31.48%;
    width: 3.39%;
    opacity: 0;
  }

  #muscle-map>#traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-a {
      top: 21.1%;
      left: 21.84%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#shoulders-b {
      top: 21.1%;
      left: 34.1%;
      width: 5.61%;
      opacity: 0;
  }

  #muscle-map>#shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#pecs {
      top: 22%;
      left: 24.3%;
      width: 13%;
      opacity: 0;
  }

  #muscle-map>#pecs:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-a {
      top: 26.9%;
      left: 20.89%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#biceps-b {
      top: 26.9%;
      left: 36.67%;
      width: 4.05%;
      opacity: 0;
  }

  #muscle-map>#biceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-a {
      top: 33.6%;
      left: 16.75%;
      width: 6.62%;
      opacity: 0;
  }

  #muscle-map>#forearm-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#forearm-b {
      top: 33.6%;
      left: 38.18%;
      width: 6.61%;
      opacity: 0;
  }

  #muscle-map>#forearm-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#obliques {
      top: 28.67%;
      left: 27.44%;
      width: 6.42%;
      opacity: 0;
  }

  #muscle-map>#obliques:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-a {
      top: 42.2%;
      left: 23.6%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#quads-b {
      top: 42.2%;
      left: 31.4%;
      width: 6.55%;
      opacity: 0;
  }

  #muscle-map>#quads-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-a {
      top: 64.59%;
      left: 23.19%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#calves-b {
      top: 64.49%;
      left: 33.74%;
      width: 4.67%;
      opacity: 0;
  }

  #muscle-map>#calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-a {
      top: 15.38%;
      left: 67.3%;
      width: 7%;
      opacity: 0;
  }

  #muscle-map>#back-traps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-traps-b {
      top: 17.82%;
      left: 66.87%;
      width: 8.1%;
      opacity: 0;
  }

  #muscle-map>#back-traps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-a {
      top: 19.29%;
      left: 61.5%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-shoulders-b {
      top: 19.29%;
      left: 74.6%;
      width: 5.7%;
      opacity: 0;
  }

  #muscle-map>#back-shoulders-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-a {
      top: 24.83%;
      left: 60.2%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#triceps-b {
      top: 24.83%;
      left: 77.1%;
      width: 4.58%;
      opacity: 0;
  }

  #muscle-map>#triceps-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-a {
      top: 26.66%;
      left: 64.7%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lats-b {
      top: 26.66%;
      left: 71.2%;
      width: 6%;
      opacity: 0;
  }

  #muscle-map>#back-lats-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-lower {
      top: 32.86%;
      left: 67.62%;
      width: 6.59%;
      opacity: 0;
  }

  #muscle-map>#back-lower:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-a {
      top: 33.5%;
      left: 56.1%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-forearms-b {
      top: 33.5%;
      left: 79.34%;
      width: 6.36%;
      opacity: 0;
  }

  #muscle-map>#back-forearms-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-glutes {
      top: 41%;
      left: 64.89%;
      width: 12.08%;
      opacity: 0;
  }

  #muscle-map>#back-glutes:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-a {
      top: 47.49%;
      left: 63.75%;
      width: 6.67%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-hamstrings-b {
      top: 47.49%;
      left: 71.47%;
      width: 6.7%;
      opacity: 0;
  }

  #muscle-map>#back-hamstrings-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-a {
      top: 64.43%;
      left: 61.94%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-a:hover {
    transition: 0.3s;
    opacity: 1;
  }

  #muscle-map>#back-calves-b {
      top: 64.43%;
      left: 75.1%;
      width: 4.8%;
      opacity: 0;
  }

  #muscle-map>#back-calves-b:hover {
    transition: 0.3s;
    opacity: 1;
  }

  .ueberschrift {
    margin-top: 25%;
  }

  .ueberschrift2 {
    margin-top: 22%;
  }

  .absenden1 {
    width: 25%;
  }

  .nav-bar {
    display: flex;
  }

  #uul {
    padding: 0;
  }

  .nav-bar li {
    padding: 20px;
  }

  .nav-bar img {
    display: none;
  }

  #info {
    font-size: 12px;
  }

  #copyright {
    font-size: 9px!important;
  }

  .socialmedia {
    width: 30px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
  }
  #pfeil {
    font-size: 20px!important;
    width: 35px!important;
    height: 15px!important;
    margin: 5px!important;
    padding: 5px!important;
    padding-bottom: 10px!important;
  }

  .ueberschrift {
    font-size: 23px;
  }

  .ueberschrift2 {
    font-size: 23px;
  }

  .content {
    width: 100%;
  }

  .content2 {
    width: 100%;
    margin-top: 13%;
  }

  .text {
    font-size: 30px;
  }

  .text button {
    font-size: 15px;
  }

  #caption {
    font-size: 13px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slideshow-container_home {
    margin-top: 24%;
  }

  #fitnessplan_weiterleitung {
    font-size: 30px;
    padding: 100px;
    padding-left: 10px;
  }

  #ernährungsideen_weiterleitung {
    font-size: 30px;
    padding: 100px;
    padding-left: 10px;
  }

  .content4 {
    margin-top: 9%;
    width: 100%;
  }

  #fitnessplan_weiterleitung:hover, #ernährungsideen_weiterleitung:hover {
    font-size: 35px;
  }

  .easteregg {
    margin-top: 20%;
    padding-top: 5%;
  }
}
